<nb-card>
  <nb-card-body [nbSpinner]="isAuthenticating" nbSpinnerStatus="primary" nbSpinnerMessage="Opening a new tab for authentication...">
    <nb-alert outline="warning" class="mt-3 flex-row" *ngFor="let error of errors">
      <nb-icon icon="alert-triangle" status="warning"></nb-icon> <span>{{ error }}</span>
    </nb-alert>
    <div class="row d-flex align-items-center" *ngIf="requireLogin">
      <div class="col-md-10">
        <p class="m-0">Sending your results means that we must send emails to {{ drawParticipantsCount }} people.
          Since we don't like spam, we ask that you please login before we will send your draw results.
          This provides us the ability to identify misuse of the system.</p>
        <p class="m-0">We recommend using one of your social accounts, since that will avoid you having to create yet another password.
          We will only receive minimal information like your email, your name, your preferred locale and a link to your public profile picture.</p>
      </div>
      <div class="col-md-2">
        <button nbButton status="success" size="small" (click)="login()">Login</button>
      </div>
    </div>
    <p class="m-0" *ngIf="!requireLogin">You are authenticated <nb-icon icon="checkmark-outline" status="success"></nb-icon></p>
  </nb-card-body>
  <nb-card-footer>
    <p *ngIf="canSubmit()">You are about to send emails to {{ drawParticipantsCount }} participants, please confirm:</p>
    <button nbButton status="primary" size="small" [disabled]="!canSubmit()" (click)="sendResults()" nbTooltip="Send results by email" class="mr-3"><nb-icon icon="email-outline"></nb-icon> Send results</button>
    <button nbButton status="danger" size="small" (click)="cancel()"><nb-icon icon="close-outline"></nb-icon> Cancel</button>
  </nb-card-footer>
</nb-card>
