<div class="row">
  <nb-card class="col-xl-10">
    <nb-card-body>
      <div class="row">
        <div class="col-12 d-flex justify-content-end">
          <button *ngIf="!(isEditing | async)" nbButton ghost status="primary" size="small" (click)="enterEditMode()" nbTooltip="Edit draw"><nb-icon icon="edit"></nb-icon></button>
          <button *ngIf="isEditing | async" nbButton ghost status="success" size="small" (click)="addParticipant()" nbTooltip="Add participant"><nb-icon icon="plus"></nb-icon></button>
          <button *ngIf="isEditing | async" nbButton ghost status="primary" size="small" (click)="save()" nbTooltip="Save and generate"><nb-icon icon="save"></nb-icon></button>
          <button nbButton ghost status="primary" size="small" [disabled]="isEditing | async" (click)="generate()" nbTooltip="Regenerate draw"><nb-icon icon="repeat"></nb-icon></button>
        </div>
      </div>
      <nb-list>
        <nb-list-item *ngFor="let participant of participants">
          <div class="row">
            <div class="col-md-5">
              <button nbButton outline status="primary" disabled class="btn-with-icon" style="width: 100%; display: flex; justify-content: start">
                <nb-user *ngIf="!(isEditing | async)" [name]="participant.name" [showTitle]="false" size="medium"></nb-user>
                <input *ngIf="isEditing | async" type="text" nbInput placeholder="Participant name" [(ngModel)]="participant.name" style="max-width: 100%;" autofocus>
              </button>
              <button *ngIf="isEditing | async" nbButton ghost status="danger" size="small" (click)="removeParticipant(participant)" nbTooltip="Remove participant" class="position-absolute" style="right: 1em; top: 1em;"><nb-icon icon="trash"></nb-icon></button>
            </div>
            <div class="col-md-2 d-flex justify-content-center align-items-center">
              <nb-icon icon="arrow-forward-outline"></nb-icon>
            </div>
            <div class="col-md-5">
              <button nbButton outline status="primary" disabled class="btn-with-icon" style="width: 100%; display: flex; justify-content: start">
                <nb-user [name]="participant.picked" [showTitle]="false" size="medium"></nb-user>
              </button>
            </div>
          </div>
        </nb-list-item>
      </nb-list>
      <div *ngIf="!hasEnoughParticipantsForDraw()" class="row d-flex justify-content-center">
        <div class="col-xl-6">
          <nb-alert outline="warning" class="mt-3 flex-row"><nb-icon icon="alert-triangle" status="warning"></nb-icon> <span> A draw requires at least 2 participants.</span></nb-alert>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
